@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column;
  position: relative;

  .header {
    @include mixins.box-size(100%, 30px);
    @include mixins.flex(flex-start, center);
    gap: 12px;
    padding: 0 12px;

    .versions {
      color: #0D4CD3;
    }
  }

  .module {
    @include mixins.box-size(100%, auto);
    @include mixins.flex(center, center);
    flex: 1;
  }
}