@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column;
  padding: 12px;
  gap: 12px;

  .grid{
    @include mixins.box-size(100%, 100%);
    flex: 1;
    overflow: auto;
  }
}