@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(340px, auto);
  @include mixins.flex-column(center, center, 32px);
  @include mixins.text(var(--text-primary), 22px);
  background-color: var(--bg-primary);
  border-radius: 12px;
  padding: 36px 12px;

  .inputs {
    @include mixins.box-size(100%, auto);
    @include mixins.flex-column(center, center, 22px);
  }
}