@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column(center, center, 32px);
  background-color: var(--bg-primary);
  border-radius: 12px;
  padding: 36px 12px;
}