@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column;
  position: relative;

  .appState {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .navigations {
    @include mixins.box-size(100%, auto);
    border-bottom: 1px solid var(--border-area);
    padding: 4px 0 0 12px;
  }

  .content {
    @include mixins.flex(center, center);
    @include mixins.box-size(100%, 100%);
  }
}