@use '@packages/styles/src/mixins';

.wrapper {
  @include mixins.flex(space-between, center);
  @include mixins.box-size(100%, auto);
  gap: 16px;
  transition: background-color 0.25s;

  &[data-disabled=true] {
    background-color: red !important;
  }

  .name {
    @include mixins.flex;
    @include mixins.text(var(--text-primary), 14px, 600);
    white-space: nowrap;
    gap: 2px;

    .requiredIcon{
      @include mixins.flex;
      margin-top: 2px;
    }
  }

  .input {
    @include mixins.text(var(--text-primary), 14px, 500);
    flex: 1;
    border-radius: 4px;
    padding: 2px 10px;
    color: var(--text-primary);
    background-color: var(--bg-active);
    border: 1px solid var(--border-area);
  }
}
